.filter{
    .filter-title{
        background-color: rgb(123, 123, 241);
        color: white;
        padding: 5px;
        border-radius: 2px;
        width: 80%;
        margin-bottom: 10px;



    }
    >div{
        padding: 2px;
    }
    select{
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;

    }
}