.footer{
    grid-area: footer;
    background-color: rgb(121, 119, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    font-size: 22px;
}