.pro-img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.products-wrapper {
  display: flex;
}
.products-wrapper .product-item {
  margin: 10px;
}
.products-wrapper .product-item .product-item img {
  padding: 10px;
  border: 1px solid #b3b2b2;
  margin-bottom: 10px;
}
.products-wrapper .product-item .product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-wrapper .product-item button {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #9191f5;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.pro-details .pro-details-img {
  width: 30%;
  height: 70%;
  border-radius: 10px;
  display: block;
  margin: auto;
}
.pro-details .pro-details-img img {
  width: 100%;
  height: 100%;
}
.pro-details p {
  color: #7070f3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}
.pro-details .times {
  cursor: pointer;
  font-size: 30px;
  align-items: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #1d1c1c;
  object-fit: cover;
  position: absolute;
  right: 10px;
  top: 10px;
}