.filter .filter-title {
  background-color: #7b7bf1;
  color: white;
  padding: 5px;
  border-radius: 2px;
  width: 80%;
  margin-bottom: 10px;
}
.filter > div {
  padding: 2px;
}
.filter select {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}