.cart {
  width: 70%;
  margin: 10px auto;
}

.item {
  border: 1px solid #d1d1d1;
  padding: 20px;
  margin: 20px;
}
.item img {
  width: 80px;
  height: 80px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total span {
  font-size: 22px;
  font-weight: bold;
}